body, ul, li, div, ol, td, span, p ,label, form,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul.paging li{
	float: left;
	list-style: none;
}
ul.paging li a{
	list-style: none;
	font-style: normal;
	text-decoration:none;
}
.wrapper{
	width: 1024px;
	margin: 0 auto;
}
.left{
	width: 20%;
	float: left;
	padding-top: 20px;
	border: 1px solid #ccc;
	min-height: 500px;

}
.left ul li{
	display: block;
	list-style: none;
	padding: 5px 10px;
}
.left ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
}
.main{
	width: 79%;
	float: left;
}
#header{
	width: 100%;
	height: 130px;
	border: 1px solid #ccc;
}
div.row{
	display: block;
	width: 100%;
	clear: both;
	padding:5px;
}
form label{
	width: 100px;
	float: left;
}
form.add .txtinput{
	height: 20px;
}
form.add .txtinput,
form.add .txtarea{
	width: 500px;
}
form.add .txtarea{
	height: 120px;
}
.item{
	width: 25%;
	display: inline-block;
	text-align: center;
}
.item .product-title{
	text-align: center;
}
.btn-cart {
    background: #ccc none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    font-style: unset;
    padding: 5px 10px;
    text-decoration: none;
}
textarea{
	width: 100%;
	height: 200px;
}
.form-error {
	font-style: italic;
	font-size: 13px;
	color: red;
}
.sidebar ul li a {
    font-size: 14px;
    /* font-weight: bold; */
    //1text-transform: uppercase;
}
ul.sub{
	padding-left: 10px;
}
.sidebar  .navbar-nav>li>a{
	padding-top: 0;
	padding-bottom: 0;
}
.sidebar li a.heading  {
	font-size: 16px;
}
a.action{
	font-size: 12px;
}
a.action:hover{
	text-decoration: none;
}
ul.pagination {
	float: right;
	text-align: right;
}
input.checkbox{
	width: 20px;
	height: 16px;
}